@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

body {
    padding: 0;
    margin: 0;
    background-color: #17141d;
    color: white;
    font-family: 'DM Mono', monospace;
}

.card-list {
    display: flex;
    padding: 2rem;
    overflow-x: scroll;
}

.card {
    display: flex;
    position: relative;
    flex-direction: column;
    height: 350px;
    width: 400px;
    left:-100px;
    min-width: 250px;
    padding: 1.5rem;
    border-radius: 16px;
    background: linear-gradient(85deg, #434343, #262626);
    box-shadow: -3rem 0 3rem #000;
    transition: 0.3s;
    margin-left: 4rem;
}
.card:not(:first-child) {
    margin-left: -4rem;
}
.card:first-child:hover{
    z-index: 1;
}
.card-list ::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.card-list::-webkit-scrollbar-thumb {
    background: #201c29;
    border-radius: 10px;
    box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25), inset -2px -2px -2px rgba(0, 0, 0, .25);
}

.card-list::-webkit-scrollbar-track {
    background: linear-gradient(90deg, #201c29, #201c29, #201c29 1px, #17141d 0, #17141d);
}

.card:hover{
    transform: translateY(-1rem) rotate(4deg);
}
.card:hover~.card {
    transform: translatex(5rem);
}

.card-author { 
    position: relative;
    display: grid;
    grid-template-columns: 75px 1fr;
    align-items: center;
    margin: 3rem 0 0;
}

.author-avatar img {
    display: block;
    height: 40px;
    width: 40px;
    top:70%;
    border-radius: 50%;
    filter: grayscale(100%);
    margin: 16px 10px;
}

.author-name-prefix {
    font-style: normal;
    font-weight: 700;
    color: #7a7a8c;
}

.card-header h2 {
    font-size: 20px;
    margin: .25rem 0 auto;
    cursor: pointer;
}

.card-header h2:hover {
    color: #A3A3A3;
}
.tags {
    margin: 1rem 0 2rem;
    padding: .5rem 0 1rem;
    line-height: 2;
    margin-bottom: 0;
}

.tags a {
    font-style: normal;
    font-weight: 700;
    font-size: .5rem;
    color: #BB6423;
    text-transform: uppercase;
    font-size: .66rem;
    padding: .2rem .85rem .25rem;
    position: relative;
    text-decoration: none;
}
.tags a:hover{
    color: #8298CA;
}
